
# NOTE: Cargo.lock is not ignored because this is a library to be used through foreign bindings

# general & env
.env
.DS_Store

target/

**/ios_build/
swift/Bedrock.xcframework/
swift/Sources/
swift/tests/Sources/
swift/local_build/
.swiftpm/

# Swift build outputs
*.xcframework/
.swiftpm/
generated_swift/
test_output.log


# forge
cache/
**/out/build-info

# kotlin
kotlin/src/main/java/
kotlin/libs/
kotlin/.gradle/
kotlin/build/
kotlin/gradlew
kotlin/gradlew.bat
kotlin/gradle/

