[toolchain]
channel = "1.91.1"
components = ["rustfmt", "clippy", "rust-analyzer"]
profile = "default"
targets = [
  # iOS
  "aarch64-apple-ios-sim",
  "aarch64-apple-ios",
  "x86_64-apple-ios",

  # Android
  "aarch64-linux-android",   # 64-bit ARM
  "armv7-linux-androideabi", # 32-bit ARM
  "x86_64-linux-android",    # 32-bit x86_64. Generally used for the Android Emulator.
  "i686-linux-android",      # 32-bit x86. In the process of final deprecation, very old with very limited install base (see MCORE-340).
]
