name: "Validate PR"

on:
  # for forks, it'll take the config of the target branch (i.e. `main`)
  # reference: <https://docs.github.com/en/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows#pull_request_target>
  pull_request_target:
    types:
      - opened
      - edited
      - reopened

jobs:
  main:
    name: Validate PR title
    runs-on: arm64-ubuntu-22.04-16core
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v5
    env:
      GITHUB_TOKEN: ${{ github.token }} # granting access only to read pull requests
